.create-container-header {
  border:  1px solid red;
  width: 100%;
  /* position: fixed; */
  /* left: 90px;
  right: 0; */
}
.apply-border {
  border-top: 1px solid #cbd0db;
  border-bottom: 1px solid #cbd0db;
  border-right: 1px solid #cbd0db;
}


input[type=file]::file-selector-button {
  border: none;
  padding: 3%;
  border-radius: .3em;
  background-color: #007BFF;
  color: #fff;
  transition: 1s;
}
input[type=file]::file-selector-button:hover {
  background-color: #0155af;
}
.bd-highlight{
  border: 1px solid black;
}